{% extends "base.html" %}

{% block chamada %}Busca {% endblock %}

{% block corpo %}
<!--<html>
<head>
    <title>Busca</title>
</head>
<body>-->
    <h1> Busca de publicações </h1>
    <p>
    <a href="{% url catalogar %}">Inserir nova publicação</a>
    </p>
    {% if erros %}
        <ul>
            {% for erro in erros %}
            <li>{{ erro }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="get">
        <input type="text" name="q" value="{{q}}">
        <input type="submit" value="Buscar">
    </form>
<hr>

{% if publicacoes %}

<h3>{{publicacoes|length}} publicaç{{publicacoes|pluralize:"ão,ões"}} encontrada{{publicacoes|pluralize}}.</h3>

<table>
        {% for pub in publicacoes %}
            <tr>
                <td>{{pub.id_padrao}}</td>
                <td><a href="{% url editar pub.pk %}">{{pub.titulo}}</a></td>
                <!-- .pk é a forma mais segura de se referir a chave primária pois posso definir no models outra chave que nao o id-->
            </tr>
        {% endfor %}
</table>
{% else %}
    {% if resultados == 'false' %}
        Nenhuma publicação encontrada com o termo '{{q}}'.
    {% endif %}
{% endif %}

{% endblock corpo %}
<!--</body>
</html>-->
